



.btn{
    background: var(--color2);
    border-radius: 16px;
    padding: 8px 25px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    font-family: var(--fontfamily);
    cursor: pointer;
    &.full_size{
        width: 100%;
        padding: 11px 25px;
    }
}