@import "assets/styles/_variables.scss";
@import "assets/styles/_icons.scss";
@import "assets/styles/_admin.scss";

.chart_traffic{
    position: relative;
    width: calc(25% - 15px);
    margin-top: 20px;
    &_info{
        position: absolute;
        top: 25px;
        left: 25px;
        right: 22px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .title{
            display: block;
            font-size: 14px;
            color: $color6;
            line-height: 24px;
            margin-bottom: 3px;
        }
        .visitors{
            color: $color6;
            font-size: 14px;
            line-height: 24px;
            .number{
                color: $white;
                font-weight: 700;
                font-size: 34px;
                line-height: 42px;
                margin-right: 3px;
            }
        }
        .statistic_detail{
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            color: #01B574;
        }
    }
}