


.chart_traffic {
    position: relative;
    width: calc(25% - 15px);
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--bg-box);

    &_info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: absolute;
        top: 25px;
        right: 22px;
        left: 25px;
        z-index: 1;

        .title {
            display: block;
            margin-bottom: 3px;
            font-size: 14px;
            color: var(--color6);
            line-height: 24px;
        }

        .visitors {
            font-size: 14px;
            color: var(--color6);
            line-height: 24px;

            .number {
                margin-right: 3px;
                font-size: 34px;
                font-weight: 700;
                color: var(--color-text);
                line-height: 42px;
            }
        }

        .statistic_detail {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 700;
            color: #01B574;
            line-height: 20px;
        }
    }
}