@import "assets/styles/_variables.scss";
@import "assets/styles/_icons.scss";
@import "assets/styles/_admin.scss";

.complextable {
    position: relative;
    width: calc(50% - 10px);
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color : $color5;

    .title {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    .btn_more{
        position: absolute;
        top: 20px;
        right: 25px;
    }
    .table{
        width: 100%;
        caption{
            display: none;
        }
        th{
            padding: 12px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 14px;
            font-weight: 500;
            color: $color6;
            text-align: left;
            line-height: 24px;
            &.arrange_title{
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                .arrange {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: none;
                    background-color: transparent;
                    font-size: 14px;
                    font-family: $fontfamily;
                    color: $color6;
                    line-height: 24px;
                    cursor: pointer;
                    padding: 0;
    
                    svg {
                        width: 24px;
                        height: 24px;
                        margin-left: 7px;
                    }
                }
            }
        }
        td{
            padding: 13px 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            vertical-align: middle;
            &.status{
                .info{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-right: 5px;
                    }
                }
            }
            &.progress{
                .progress_bar{
                    display: inline-block;
                    position: relative;
                    width: 108px;
                    height: 8px;
                    border-radius: 21px;
                    background-color: rgba(255, 255, 255, 0.1) ;
                }
                .progress_info{
                    top: 0;
                    background-color: $color2;
                    bottom: 0;
                    height: 8px;
                    display: inline-block;
                    border-radius: 21px;
                    position: absolute;
                    z-index: 1;
                }
            }
        }
    }
    .btn_more{
        width: 37px;
        height: 37px;
        border: none;
        background: url(../../assets/img/icons/icon_more.svg);
        cursor: pointer;
    }
}