
@import "assets/styles/_admin.scss";


.fc-theme-standard td,
.fc-theme-standard th {
    border: none !important;
}

.fc-daygrid-day-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.fc-daygrid-event-harness-abs {
    bottom: 0;
    z-index: 1;
}

.fc-h-event {
    z-index: -1;
    height: 40px;
    border: none;
    background-color: var(--bg-box1);
    border-radius: 40px;
    margin-top: 0 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    margin: 0;
}

.fc-event-start,
.fc-event-end {
    position: relative;
    color: var(--white);
}

.fc-event-start::before,
.fc-event-end::after {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #7551FF;
    content: '';
}

.fc-event-start::before {
    left: 3px;
}

.fc-event-end::after {
    right: 3px;
}

.calendar {
    position: relative;
    width: calc(25% - 15px);
    margin-top: 20px;
    padding: 16px 25px;
    border-radius: 20px;
    background-color: var(--bg-box);

    .fc {
        .fc-toolbar.fc-header-toolbar {
            margin-bottom: 5px;
        }

        .fc-daygrid-day-events {
            position: absolute;
            top: -2px;
            right: 0;
            left: 0;
            min-height: 40px;
            margin: 0;
        }

        .fc-daygrid-day-top {
            height: 35px;
        }

        .fc-daygrid-day.fc-day-today {
            position: relative;
            z-index: 1;
            background-color: transparent;

            &::before {
                position: absolute;
                top: -2px;
                left: 50%;
                z-index: -1;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: var(--bg-box1);
                transform: translateX(-50%);
                content: '';
            }
        }
    }

    .calendar_content {
        background-color: transparent;

        table {
            border: none;
        }
    }

    .calendar_th,
    .calendar_td {
        width: 47px;
        height: 34px;
        border: none;
    }

    .calendar_th {
        height: 36px;
    }

    .fc-col-header-cell-cushion {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .fc-Month-button,
    .fc-Year-button {
        position: relative;
        border-radius: 40px !important;
        background-color: transparent;
        border: none;
        padding: 8px 32px 8px 16px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        font-family: var(--fontfamily);
        outline: none;

        &::before {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_201_3672)'%3E%3Cpath d='M7.41 8.59003L12 13.17L16.59 8.59003L18 10L12 16L6 10L7.41 8.59003Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_201_3672'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            content: '';

            [data-theme='light'] & {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_201_3672)'%3E%3Cpath d='M7.41 8.59003L12 13.17L16.59 8.59003L18 10L12 16L6 10L7.41 8.59003Z' fill='%234318FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_201_3672'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }

        &:focus,
        &:hover,
        &:not(:disabled):active:focus,
        &:active {
            outline: none;
            box-shadow: none;
            background: none;
        }
    }

    .fc-Month-button {
        margin-right: 38px;
        background-color: var(--bg);
        color: var(--color-text);
        &:focus,
        &:hover,
        &:not(:disabled):active:focus,
        &:active {
            background-color: var(--bg);
        }
    }
}

.popup_month,
.popup_year {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000a0;
    z-index: 99;

    &.is_show {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup_content {
        width: 550px;
        height: 350px;
        background: #1d254c;
        padding: 50px 40px 20px;
        border-radius: 20px;
        color: var(--white);
        text-align: center;

        .title {
            font-size: 25px;
            text-transform: capitalize;
            margin-bottom: 30px;
            display: block;
        }

        .month_list {
            display: flex;
            align-items: initial;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .month_item {
            margin: 5px 1%;
            width: 23%;

            .btn_month {
                background-color: transparent;
                border: none;
                color: var(--white);
                background-color: var(--color2);
                padding: 10px 20px;
                width: 100%;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;

                &:hover,
                &.is_active {
                    background-color: #54b9ff;
                }
            }
        }

        .inp_text {
            width: 200px;
            border-radius: 5px;
            border: none;
            height: 40px;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-right: 10px;
        }

        .btn_submit {
            border-radius: 5px;
        }
    }
}