@import "assets/styles/_admin.scss";

.wrap {
    [data-theme='light'] & {
        background-color: var(--white);
    }
    position: relative;
    font-family: 'DM Sans';

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        padding-bottom: 120px;
        border-bottom-left-radius: 200px;
        background: url(../../assets/img/signin/bg_signin.png);
        background-size: cover;
        text-align: center;

        .desc {
            min-width: 471px;
            margin-top: 100px;
            padding: 30px;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 26px;
            color: var(--white);

            .note {
                display: block;
                margin-bottom: 6px;
                line-height: 18px;
            }

            .link {
                display: block;
                font-size: 29px;
                line-height: 45px;
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 40px;

        .link_back {
            display: inline-block;
            position: relative;
            padding-left: 22px;
            color: var(--color6);
            line-height: 30px;

            &::before {
                position: absolute;
                top: 3px;
                left: -8px;
                width: 24px;
                height: 24px;
                background: url(../../assets/img/icons/icon_back.svg);
                content: '';
            }
        }

        .content {
            display: flex;
            flex: 1 1;
            align-items: center;
            justify-content: center;
            padding: 0 0 0 18px;
            margin: 0;
            width: auto;
            max-width: 100%;

            .info {
                width: 410px;

                .title {
                    display: block;
                    margin-bottom: 8px;
                    font-size: 36px;
                    line-height: 56px;
                }

                .subtitle {
                    display: block;
                    margin-bottom: 36px;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color6);
                    line-height: 1;
                }

                .btn_google {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 26px;
                    padding: 15px;
                    border: none;
                    border-radius: 16px;
                    background: var(--bg-box1);
                    font-size: 14px;
                    font-family: var(--fontfamily);
                    color: var(--color-text);
                    line-height: 20px;
                    cursor: pointer;

                    .txt {
                        margin-left: 9px;
                    }
                }

                .or {
                    display: block;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 26px;
                    color: var(--color6);
                    text-align: center;
                    line-height: 24px;

                    &::before {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        left: 0;
                        z-index: -2;
                        border: 1px solid var(--bg-box1);
                        content: '';
                    }

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: -1;
                        width: 45px;
                        border: 1px solid var(--bg);
                        transform: translateX(-50%);
                        content: '';

                        [data-theme='light'] & {
                            border-color: var(--white);
                        }
                    }
                }

                .form_signin {
                    fieldset {
                        font-size: 0;
                    }

                    .noti {
                        display: block;
                        margin-top: 26px;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--color6);
                        line-height: 26px;

                        a {
                            font-weight: 700;
                            color: var(--color-text);
                        }
                    }
                }
            }
        }

        .btn_mode {
            position: absolute;
            right: 30px;
            bottom: 30px;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

.form {
    .inp_group {
        margin-bottom: 24px;

        .inp_label {
            display: block;
            margin-bottom: 13px;
            line-height: 1;

            .obligatory {
                color: var(--color2);
            }
        }

        .inp_txt {
            display: block;
            width: 100%;
            height: 50px;
            padding: 24px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 16px;
            background-color: transparent;
            color: var(--color-text);
            outline: none;
            box-sizing: border-box;

            [data-theme='light'] & {
                border-color: #E0E5F2;
            }
        }
    }

    .check_group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 31px;
        margin-bottom: 33px;

        .inp_check {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 100%;
            width: 1px;
            height: 1px;

            &:checked+.check_label::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_12199)'%3E%3Cpath d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM10.71 16.29C10.32 16.68 9.69 16.68 9.3 16.29L5.71 12.7C5.32 12.31 5.32 11.68 5.71 11.29C6.1 10.9 6.73 10.9 7.12 11.29L10 14.17L16.88 7.29C17.27 6.9 17.9 6.9 18.29 7.29C18.68 7.68 18.68 8.31 18.29 8.7L10.71 16.29Z' fill='%237551FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_12199'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }

        .check_label {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_9790)'%3E%3Cpath d='M19 5V19H5V5H19ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3Z' fill='%23A3AED0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_9790'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                content: "";
            }
        }

        .fg_pass a {
            color: var(--color-text);
        }
    }
}