




.creators {
    position: relative;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: var(--bg-box);

    .title {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .btn_more {
        position: absolute;
        top: 20px;
        right: 25px;
        padding: 4px 18px;
        font-weight: 500;
    }

    .table {
        width: 100%;

        caption {
            display: none;
        }

        th {
            padding: 12px 0;
            font-size: 14px;
            font-weight: 500;
            color: var(--color6);
            text-align: left;
            line-height: 24px;
        }

        td {
            padding: 10px 0;
            font-size: 14px;
            vertical-align: middle;
            line-height: 24px;

            &.name {
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 24px;

                .avatar {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                    border-radius: 12px;
                    font-size: 0;

                    svg {
                        width: 100%;
                    }
                }
            }

            &.progress {
                .progress_bar {
                    display: inline-block;
                    position: relative;
                    width: 108px;
                    height: 8px;
                    border-radius: 21px;
                    background-color: var(--bg-box1);
                }

                .progress_info {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    height: 8px;
                    border-radius: 21px;
                    background-color: var(--color2);
                }
            }
        }
    }
}