@import "assets/styles/_icons.scss";

.lnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 290px;
    height: 100vh;
    padding: 25px 0 0;
    background-color: var(--color4);
    z-index: 99;

    .logo {
        padding: 30px 54px 48px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 0;

        [data-theme='light'] & {
            border-bottom-color: var(--bg);
        }
    }

    .nav {
        padding: 38px 0 25px 33px;

        &__item {
            margin-bottom: 23px;

            &:first {
                s.nav__link {
                    font-weight: 700;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 16px;
            font-weight: 500;
            color: var(--color-text);
            text-decoration: none;
            line-height: 1.875;

            .icon {
                margin-right: 12px;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__pro {
        position: absolute;
        right: 30px;
        bottom: 25px;
        left: 30px;
        padding: 72px 25px 41px;
        border-radius: 24px;
        background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
        text-align: center;
        color: var(--white);


        &::before {
            position: absolute;
            top: -50px;
            left: 50%;
            width: 94px;
            height: 94px;
            background-image: url(../../assets/img/lnb_img.png);
            background-repeat: no-repeat;
            transform: translateX(-50%);
            content: '';
        }

        .title {
            margin-bottom: 1px;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.75;
        }

        .desc {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.71;
        }
    }
}

[data-theme="light"] {
    .lnb {
        .nav__item {

            &:hover,
            &.is_active {
                .nav__link {
                    color: var(--color-text);
                    opacity: 1;
                }
            }

            .nav__link {
                color: var(--color6);
                opacity: 1;
            }
        }
    }
}