@import "assets/styles/_variables.scss";
@import "assets/styles/_icons.scss";

.wrap {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main {
        padding-left: 290px;
        flex: 1 1;

        .content {
            padding: 50px 20px 0;
        }
    }
}