.footer {
    padding-left: 290px;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1630px;
        margin: 0 auto;
        padding: 20px 50px 22px;
    }

    .nav {
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__item {
            margin-left: 42px;
        }

        &__link {
            display: inline-block;
            font-size: 14px;

            font-weight: 500;
            color: var(--color-text);
            line-height: 1.71;
        }
    }
}