@import "assets/styles/_variables.scss";
@import "assets/styles/_icons.scss";
@import "assets/styles/_admin.scss";

.btn {
	padding: 0;
	border: none;
	background: none;
	font-size: 0;
	cursor: pointer;

	&_search {
		position: absolute;
		top: 15px;
		left: 20px;
		width: 11px;
		height: 11px;
	}

	&_avatar {
		overflow: hidden;
		width: 41px;
		height: 41px;
		border-radius: 100%;
		img{
			width: 100%;
		}
	}
}

.main_top {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;

	&_right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 422px;
		padding: 10px;
		border-radius: 30px;
		background-color: $color5;

		.search_form {
			position: relative;
			width: 214px;

			.inp_search {
				width: 100%;
				height: 41px;
				padding: 10px 10px 10px 42px;
				border: none;
				border-radius: 49px;
				background: #0b1437;
				color: $white;
				outline: none;
				box-sizing: border-box;
			}
		}

		.alarm,
		.tooltip {
			position: relative;
			font-size: 0;

			&.is_open {
				.info {
					display: block;
					position: absolute;
					top: calc(100% + 10px);
					right: -10px;
					z-index: 2;
					width: 250px;
					padding: 10px 15px;
					border: 1px solid #ccc;
					border-radius: 10px;
					background-color: #0d1438;
					font-size: 12px;
					font-style: italic;
					line-height: 1.5;
					box-shadow: 1px 1px 5px 0px #ccc;

					&::before,
					&:after {
						display: block;
						position: absolute;
						bottom: 100%;
						width: 0;
						height: 0;
						border: solid transparent;
						pointer-events: none;
						content: " ";
					}

					&::before {
						right: 12px;
						border-width: 8px;
						border-bottom-color: #ccc;
					}

					&:after {
						right: 12px;
						margin-right: 2px;
						border-width: 6px;
						border-bottom-color: #0f1439;
					}
				}
			}

			.info {
				display: none;
			}
		}

		.alarm {
			&.is_open {
				.info {
					width: 400px;
					height: 500px;
					padding: 30px 20px 20px;

					.title {
						margin-bottom: 20px;
						font-size: 18px;
						text-transform: uppercase;
					}

					.scrollbar {
						max-height: 340px;
					}

					.btn_more {
						position: absolute;
						bottom: 0;
						bottom: 20px;
						left: 50%;
						transform: translateX(-50%);
					}

					.nodata {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						height: 300px;
						font-size: 16px;
						text-align: center;
						text-align: center;

						.icon {
							display: block;
							width: 40px;
							height: 40px;
							margin: 10px auto 0;

							svg {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}

			&_item+.alarm_item {
				margin-top: 15px;
			}

			&_content {
				display: block;
				position: relative;
				padding-left: 35px;
				color: $white;

				.status {
					position: absolute;
					top: 2px;
					left: 0;

					&.news {
						&::before {
							position: absolute;
							top: 2px;
							right: 0;
							width: 4px;
							height: 4px;
							border-radius: 4px;
							background-color: red;
							content: '';
						}
					}
				}

				.subtitle {
					overflow: hidden;
					font-size: 16px;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.date {
					display: block;
					font-size: 12px;
					color: #54b9ff;
				}
			}
		}

		.user {
			position: relative;
			font-size: 0;

			.control {
				display: none;
				position: absolute;
				top: calc(100% + 10px);
				right: 0;
				z-index: 1;
				width: 80px;
				padding: 10px 20px;
				border: 1px solid #ccc;
				border-radius: 10px;
				background-color: #0d1438;
				line-height: 1.5;
				box-shadow: 1px 1px 5px 0px #ccc;

				&::before,
				&:after {
					display: block;
					position: absolute;
					bottom: 100%;
					width: 0;
					height: 0;
					border: solid transparent;
					pointer-events: none;
					content: " ";
				}

				&::before {
					right: 12px;
					border-width: 8px;
					border-bottom-color: #ccc;
				}

				&:after {
					right: 12px;
					margin-right: 2px;
					border-width: 6px;
					border-bottom-color: #0f1439;
				}

				li {
					&+li {
						margin-top: 5px;
					}

					a {
						display: block;
						font-size: 14px;
						color: $white;
					}
				}
			}

			&.is_open {
				.control {
					display: block;
				}
			}
		}
	}
}