@import "assets/styles/_variables.scss";



.chart_line {
    position: relative;
    width: calc(50% - 10px);
    height: 345px;
    border-radius: 20px;
    background-color: var(--bg-box);

    .statistic {
        position: absolute;
        top: 26px;
        left: 30px;
        z-index: 1;

        .btn_calendar {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 28px;
            padding: 10px 13px;
            border: none;
            border-radius: 7px;
            background: var(--bg-box1);
            font-size: 14px;
            color: var(--color-text);
            line-height: 24px;
            cursor: pointer;

            svg {
                margin-right: 7px;
            }
        }

        .money {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }

        &_info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 25px;
        }

        &_txt {
            margin-top: -2px;
            margin-right: 10px;
            color: var(--color6);
        }

        &_detail {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            font-weight: 700;
            color: #01b574;
            line-height: 20px;

            svg {
                margin-right: 5px;
            }
        }

        .check_group {
            position: relative;

            .inp_check {
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 100%;
                width: 1px;
                height: 1px;

                &[checked="checked"]+.check_label::before,
                &:checked+.check_label::before {
                    background: url(../../assets/img/icons/icon_check.svg);
                }
            }

            .check_label {
                display: inline-block;
                position: relative;
                padding-left: 22px;
                font-size: 16px;
                font-weight: 700;
                color: #01b574;
                line-height: 28px;

                &::before {
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    background: #01b574;
                    content: '';
                }
            }
        }

    }
}