
@import "assets/styles/_admin.scss";

.checktable {
    position: relative;
    width: calc(50% - 10px);
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: var(--bg-box);

    .title {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .btn_more {
        position: absolute;
        top: 20px;
        right: 25px;
    }

    .table {
        width: 100%;

        caption {
            display: none;
        }

        th {
            padding: 12px 0;
            font-size: 14px;
            font-weight: 500;
            color: var(--color6);
            text-align: left;
            line-height: 24px;

            &.arrange_title {
                border-bottom: 1px solid  var(--bg-box1);

                .arrange {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: none;
                    background-color: transparent;
                    font-size: 14px;
                    font-family: var(--fontfamily);
                    color: var(--color6);
                    line-height: 24px;
                    cursor: pointer;

                    svg {
                        width: 24px;
                        height: 24px;
                        margin-left: 7px;
                    }
                }
            }
        }

        td {
            padding: 8px 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;

            .inp_checkbox {
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 100%;
                width: 1px;
                height: 1px;

                &:checked+.inp_label::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_12199)'%3E%3Cpath d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM10.71 16.29C10.32 16.68 9.69 16.68 9.3 16.29L5.71 12.7C5.32 12.31 5.32 11.68 5.71 11.29C6.1 10.9 6.73 10.9 7.12 11.29L10 14.17L16.88 7.29C17.27 6.9 17.9 6.9 18.29 7.29C18.68 7.68 18.68 8.31 18.29 8.7L10.71 16.29Z' fill='%237551FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_12199'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
            }

            .inp_label {
                display: inline-block;
                position: relative;
                padding-left: 35px;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_9790)'%3E%3Cpath d='M19 5V19H5V5H19ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3Z' fill='%23A3AED0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_9790'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    content: "";
                }
            }
        }
    }

    .btn_more {
        width: 37px;
        height: 37px;
        border: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='37' height='37' rx='10' fill='%231B254B'/%3E%3Cg clip-path='url(%23clip0_201_3035)'%3E%3Cpath d='M12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM24 17C22.9 17 22 17.9 22 19C22 20.1 22.9 21 24 21C25.1 21 26 20.1 26 19C26 17.9 25.1 17 24 17ZM18 17C16.9 17 16 17.9 16 19C16 20.1 16.9 21 18 21C19.1 21 20 20.1 20 19C20 17.9 19.1 17 18 17Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_201_3035'%3E%3Crect width='24' height='24' fill='white' transform='translate(6 7)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        cursor: pointer;

        [data-theme='light'] & {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='37' height='37' rx='12' fill='%23F4F7FE'/%3E%3Cg clip-path='url(%23clip0_201_1885)'%3E%3Cpath d='M12 17C10.9 17 10 17.9 10 19C10 20.1 10.9 21 12 21C13.1 21 14 20.1 14 19C14 17.9 13.1 17 12 17ZM24 17C22.9 17 22 17.9 22 19C22 20.1 22.9 21 24 21C25.1 21 26 20.1 26 19C26 17.9 25.1 17 24 17ZM18 17C16.9 17 16 17.9 16 19C16 20.1 16.9 21 18 21C19.1 21 20 20.1 20 19C20 17.9 19.1 17 18 17Z' fill='%234318FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_201_1885'%3E%3Crect width='24' height='24' fill='white' transform='translate(6 7)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }
}